// App wide styling
$border-radius: 5px;
$background-color: '#c1e1e3';
$background-color-hover: rgb(231, 228, 228);
$font-default: 1.1rem;
$space-reg: 5px;
$space-big: 10px;
$font-size-label: 1.3rem;

// button styles
.btn {
  border-radius: $border-radius;
  padding: $space-big;
  font-weight: bold;
  font-size: $font-default;
  color: rgb(22, 0, 121);

  &:hover {
    background-color: rgb(255, 102, 0);
    border: 2px solid black;
    transition: background-color 0.3s;
  }
}

// input styles
.input {
  border-radius: $border-radius;
  padding: $space-reg;
  font-size: $font-default;

  &:focus {
    background-color: $background-color-hover;
  }
}

// labels
.label {
  font-size: $font-size-label;
}

// todo
.todo {
  display: flex;
  margin: 0 auto;
  border: 2px solid;
  border-radius: $border-radius;
  align-items: center;
  justify-content: space-around;
  padding: $space-big;
  margin: $space-big auto;
  width: 50%;

  .completed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    border-color: #a5baf1;
    transition: border-color 0.3s;
  }

  & > * {
    margin: $space-reg;
  }
}

// completed todo items get a strikethrough
.completed {
  text-decoration: line-through;
}
